
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h2>Liên Hệ</h2>
    <div class="card-body">
        <p>Họ tên: @ViewBag.HTSV</p>
        <p>MSSV: @ViewBag.MSSV</p>
        
    </div>
</div>

